<link href="~/Content/asd.css" rel="stylesheet" />
<div class="cars">
    <div class="product-card">
        <div class="product-img-name">
            <img src="~/img/xxz.png" alt="Lambo" srcset="" />
            <h1> Lamborghini </h1>
        </div>
        <div class="product-info">
            <div class="details">
                <p>Horsepower (rpm) <br /> 562</p>
                <p>Torque (lb-ft rpm) <br /> 406</p>
                <p>Acceleration (0-60 mph) <br /> 3.4 seconds </p>

            </div>
            <div class="pricing-info">
                <p>Starting at <span>$180,000</span></p>
                <p>
                    Naturally aspirated 6.5-liter V-12 that develops 769 horsepower.
                </p>
                <a href="#">BUY NOW</a>
            </div>
        </div>
    </div> 

    <div class="product-card">
        <div class="product-img-name">

            <img src="~/img/mustang.png" alt="Lambo" srcset="" />
            <h1> Ford Mustang </h1>
        </div>
        <div class="product-info">
            <div class="details">
                <p>Horsepower (rpm) <br /> 562</p>
                <p>Torque (lb-ft rpm) <br /> 406</p>
                <p>Acceleration (0-60 mph) <br /> 3.4 seconds </p>

            </div>
            <div class="pricing-info">
                <p>Starting at <span>$200,000</span></p>
                <p>
                    5.0-liter V8 with 460 horsepower and 420 pound-feet of torque.
                </p>
                <a href="#">BUY NOW</a>
            </div>
        </div>
    </div>


    <div class="product-card">
        <div class="product-img-name">
            <img src="~/img/rolls.png" alt="Lambo" srcset="" />
            <h1> Rolls Royce </h1>
        </div>
        <div class="product-info">
            <div class="details">
                <p>Horsepower (rpm) <br /> 562</p>
                <p>Torque (lb-ft rpm) <br /> 406</p>
                <p>Acceleration (0-60 mph) <br /> 3.4 seconds </p>

            </div>
            <div class="pricing-info">
                <p>Starting at <span>$260,000</span></p>
                <p>
                    6.6L V12 engine with 563 hp and 605 lb-ft of torque at 1,500 RPM.
                </p>
                <a href="#">BUY NOW</a>
            </div>
        </div>
    </div>



    </div>
