
<link href="~/Content/Index.css" rel="stylesheet" />
<div class="content">
    <h1>BUY YOUR DREAM CAR</h1>
        <p> Quality never goes <br /> out of style. </p>
    <div>

        <button type="button"><span></span>PROCEED</button>
    </div>
</div>